{% extends "base.html" %}
{% block content %}
    <h2>This is us, peace out</h2>
    <p>Here you are gonna meet three definetly valid Gen Z members. So shut up and read.</p>
    <p>Olivia</p>
    <ul>
        <li>pronouns:</li>
        <li>sign:</li>
        <li>favorite childhood tv show:</li>
        <li>favorite animal:</li>
        <li>favorite color:</li>
        <li>favorite tv show at the moment:</li>
        <li>favortie childhood movie:</li>
    </ul>
    <p>Nicole</p>
    <ul>
        <li>pronouns:</li>
        <li>sign:</li>
        <li>favorite childhood tv show:</li>
        <li>favorite animal:</li>
        <li>favorite color:</li>
        <li>favorite tv show at the moment:</li>
        <li>favortie childhood movie:</li>
    </ul>
    <p>Sophie</p>
    <ul>
        <li>pronouns:</li>
        <li>sign:</li>
        <li>favorite childhood tv show:</li>
        <li>favorite animal:</li>
        <li>favorite color:</li>
        <li>favorite tv show at the moment:</li>
        <li>favortie childhood movie:</li>
    </ul>
{% endblock %}